mixin squares(n)
  if(n>0)
    div.square
      +squares(n-1)

doctype html
html(lang="en")
  include components/head.pug

  body.helvetica.first(ontouchstart="")
    div.large-square
      +squares(16)

    div.info
      a.name(target="_blank") BP

      div.row
      a.black.link.underline(
        href="https://github.com/ivebencrazy"
        rel="external"
      ) CODE

      a.black.link.underline(
        href="https://ivebencrazy.bandcamp.com/"
        rel="external"
      ) MUSIC

      a.black.link.underline(href="/photos") PHOTOS

      a.black.link.underline(
        href="https://www.youtube.com/user/IveBenCrazy"
        rel="external"
      ) VIDEOS
